<p>Mi-Fi Monitor is a perfect companion for the <a href="http://www.novatelwireless.com/products/mobile-broadband-solutions/mifi-intelligent-mobile-hotspots/">Novatel Mi-Fi</a> 3G Router, allowing you to keep track of your router's battery and signal levels without getting it out of your bag or opening a web browser.</p>
<ul class="app-description fa-ul">
	<li><i class="fa fa-li fa-chevron-right"></i>Battery level meter</li>
	
	<li><i class="fa fa-li fa-chevron-right"></i>Signal meter bars and 45 second live graph</li>
	
	<li><i class="fa fa-li fa-chevron-right"></i>Connection status and type</li>
	
	<li><i class="fa fa-li fa-chevron-right"></i>Roaming indicator</li>
</ul>