<div class="col-md-6 col-sm-6 page-section list-section faq-section">

	<h3 class="list-header"><i class="fa fa-fw fa-question-circle"></i>FAQ</h3>
    
    <div class="list-item"><h4>How does Mi-Fi Monitor interact with my Mi-Fi device?</h4>
	<p>Mi-Fi Monitor is designed to work with the OpenCGI API supported by most Novatel Mi-Fi models. It is reliable, fast, and works basically the same way on all of them.</p>
	</div>

	<div class="list-item"><h4>Why doesn't Mi-Fi Monitor support some Novatel Mi-Fi models?</h4>
	<p>Some wireless carriers have completely disabled the OpenCGI API on their customized Mi-Fi firmware, and some models require a firmware update before the API will work.</p>
    <p>If you experience problems, check the firmware section on this page for more information or send us a <a target="_blank" href="/contact">support request</a> and we will be happy to assist you.</p>
    </div>
    
    <div class="list-item"><h4>Why doesn't Mi-Fi Monitor support hotspots made by other manufacturers?</h4>
	<p>Support for hotspots from other manufacturers was added to a beta version of Mi-Fi Monitor in the past, however it required retrieving usage information from the hotspots web interface, which proved to be both inefficient (reduced hotspot battery life), and unreliable due to the large number of different devices and different firmware versions for each one.</p>
	</div>
	
	<div class="list-item"><h4>Why is the data only updated every 3 seconds?</h4>
	<p>Although the Mi-Fi supports remote monitoring and has its own web interface, it is still a very low power device with limited resources. Novatel advises that 3rd party applications only query the device for information every 3 seconds to avoid overloading it.</p>
	</div>
    	
	<div class="list-item"><h4>Is Mi-Fi Monitor a tethering application?</h4>
	<p>Mi-Fi Monitor is not a tethering app, it will not allow you to tether other devices to your iPhone for internet access. Your iPhone or cellular-enabled iPad already support tethering, however you may need to check with your wireless carrier to enable it.</p>
	</div>


</div>