<div class="col-md-6 col-sm-6 page-section">

	<h3 class="list-header"><i class="fa fa-fw fa-download"></i>Firmware</h3>

	<p>There are a significant number of Mi-Fi devices in the wild that will not work with Mi-Fi Montitor without updating the firmware. The firmware links below are official packages from Novatel, hosted by them. We can't provide support for their firmware, but we will help customers find upgrades when needed.</p>
    
    <p>If your device is not listed in the table below, or it is a "branded" device with the wireless carriers logo (like AT&amp;T or Verizon), you may need to check the general <a href="http://www.novatelwireless.com/support/mobile-broadband-support/#mifi">Novatel download area</a> or your wireless carriers website for any available updates. Feel free to send us a <a target="_blank" href="/contact">support request</a> and we will be happy to assist you.</p>
	
	<table class="infincia-table" id="firmware" border="0">
		<tr class="table-header">
			<th class="first">Device</th>
			<th>Version</th>
			<th class="last" >Firmware</th>
		</tr>
		
		<tr>
			<td>Generic Mi-Fi 23x2</td>
			<td class="value">5.26.2</td>
			<td class="value"><a href="http://www.novatelwireless.com/content/files/mifi/">link</a></td>
		</tr>
		
		<tr>
			<td>AT&amp;T Mi-Fi 2372</td>
			<td class="value">7.11.02</td>

			<td class="value"><a href="http://www.novatelwireless.com/content/files/att/">link</a></td>
		</tr>
		
		<tr>
			<td>Bell Mi-Fi 2372</td>
			<td class="value">5.28</td>
			<td class="value"><a href="http://www.novatelwireless.com/content/files/bell/">link</a></td>
		</tr>
	</table>
	
	
	<p>These firmware upgrades usually require a Windows PC (some also support Macs), and a Micro USB cable to connect the Mi-Fi to your computer.</p>



</div>