{% include "header.html" %}

    <div class="row featurette">

        <div class="col-md-4 col-sm-6 iphone_screenshot">
			<img class="img-responsive" src="/assets/images/apps/mi-fi-monitor/mifi-iPhone-1.jpeg" alt="Mi-Fi Monitor for iOS screenshot" />
        </div>

        
        
        <div class="col-md-8 col-sm-6 page-section">
            <a href="/apps/mi-fi-monitor-ios"><h2>Mi-Fi Monitor <span class="text-muted">for iOS</span></h2></a>

            {% include "apps/mifimonitor/description.html" %}
			
			<div id="requirements">
				<p><strong>Requirements: </strong> Novatel Mi-Fi, and an iPhone, iPad or iPod Touch device running iOS 4.3+</p>
				<br>
				<a href="http://itunes.apple.com/app/mi-fi-monitor/id393432228?mt=8" id="ios_app_store_icon"><img id="ios_app_store_icon" src="/assets/images/icons/app_store.png" alt="App Store button"/></a>
			</div>

        </div>

		<div class="col-md-12 col-sm-12 page-section"> </div>
{% include "apps/mifimonitor/devices.html" %}

{% include "apps/mifimonitor/faq.html" %}

		<div class="col-md-12 col-sm-12 page-section">
			<h3><i class="fa fa-fw fa-camera-retro"></i>iPhone Screenshots</h3>
		</div>

		<div class="col-md-6 col-sm-6 iphone_screenshot">
			<img class="img-responsive" src="/assets/images/apps/mi-fi-monitor/mifi-iPhone-1.jpeg" alt="Mi-Fi Monitor iPhone screenshot" />
		</div>

		<div class="col-md-6 col-sm-6 iphone_screenshot">
			<img class="img-responsive" src="/assets/images/apps/mi-fi-monitor/mifi-iPhone-2.jpeg" alt="Mi-Fi Monitor iPhone screenshot" />
		</div>

		<div class="col-md-12 col-sm-12 page-section">
			<h3><i class="fa fa-fw fa-camera-retro"></i>iPad Screenshots</h3>
		</div>
		
		<div class="col-md-6 ipad_screenshot">
			<img class="img-responsive" src="/assets/images/apps/mi-fi-monitor/mifi-iPad-1.jpeg" alt="Mi-Fi Monitor iPad screenshot" />
		</div>

		<div class="col-md-6 ipad_screenshot">
			<img class="img-responsive" src="/assets/images/apps/mi-fi-monitor/mifi-iPad-2.jpeg" alt="Mi-Fi Monitor iPad screenshot" />
		</div>

        <div class="col-md-12 page-section"></div>
		{% include "apps/mifimonitor/releasenotes.html" %}




		{% include "apps/mifimonitor/firmware.html" %}












    </div>





{% include "footer.html" %}




