{% include "header.html" %}

    <div class="row featurette">
        <div class="col-md-4 col-sm-6  mac_screenshot">
			<img alt="Mi-Fi Monitor for OS X screenshot" class="img-responsive" src="/assets/images/apps/mi-fi-monitor/mi-fi-monitor-mac.jpeg" alt="Mi-Fi Monitor for OS X screenshot" />
        </div>

        
        
        <div class="col-md-8 col-sm-6  page-section">
            <a href="/apps/mi-fi-monitor-mac"><h2>Mi-Fi Monitor <span class="text-muted">for OS X</span></h2></a>

			{% include "apps/mifimonitor/description.html" %}
			
			<div id="requirements">
				<p><strong>Requirements: </strong> Novatel Mi-Fi, and a 64-bit Intel Mac running OS X 10.6+</p>
				<br>
				<a href="http://itunes.apple.com/app/mi-fi-monitor/id483152719?mt=12" id="mac_app_store_icon"><img id="mac_app_store_icon" src="/assets/images/icons/mac_store.png" alt="App Store button"/></a>
			</div>

        </div>
        


        <div class="col-md-12 col-sm-12 page-section"> </div>

{% include "apps/mifimonitor/devices.html" %}

{% include "apps/mifimonitor/faq.html" %}

<div class="col-md-12 page-section"></div>
{% include "apps/mifimonitor/releasenotes.html" %}




{% include "apps/mifimonitor/firmware.html" %}

    </div>
    

{% include "footer.html" %}