<div class="col-md-6 col-sm-6 page-section">
	
	<h3><i class="fa fa-fw fa-indent"></i>Release notes</h3>
    
	<div class="release-current"><span>Mi-Fi Monitor 1.4.1</span><span class="right">4/10/2012</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>Fixed some alignment &amp; cosmetic bugs on both platforms</li>
		<li><i class="fa fa-li fa-chevron-right"></i>iOS version uses ARC now, also requires iOS 4.3+</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Updated 3rd party libraries (CorePlot to 1.0)</li>

	</ul>
	<div class="release-outdated"><span>Mi-Fi Monitor 1.4</span><span class="right">1/30/2012</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>Graphs are now marked with timeframe</li>
		<li><i class="fa fa-li fa-chevron-right"></i>iOS graphs are back in the little bubble instead of fullscreen</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Mac version has new Menu Bar icons &amp; option to disable signal or battery display.</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Fixed minor memory leak on Mac</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Removed unnecessary Mi-Fi admin password setting, no longer used</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Reduced memory use significantly on both platforms</li>
		<li><i class="fa fa-li fa-chevron-right"></i>NOTE: on OS X this version is 64-bit only, but still works on Snow Leopard</li>
	</ul>
    <div class="release-outdated"><span>Mi-Fi Monitor 1.3.3</span><span class="right">12/19/2011</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>Snow Leopard compatibility</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Updated Growl</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Added specific models to the settings area</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Small cosmetic fixes on Mac</li>
	</ul>
	<div class="release-outdated"><span>Mi-Fi Monitor 1.3.2</span><span class="right">12/09/2011</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>First release on Mac App Store</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Fix rare bug in email support form</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Fix incorrect version number in iOS settings</li>
	</ul>
	<div class="release-outdated"><span>Mi-Fi Monitor 1.3.1</span><span class="right">12/01/2011</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>Fix for some AT&amp;T devices that return non-standard API responses</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Shaded signal graph</li>
	</ul>
	<div class="release-outdated"><span>Mi-Fi Monitor 1.3</span><span class="right">11/21/2011</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>Native iPad interface</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Larger signal graph</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Landscape mode everywhere</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Changes under the hood for increased reliability</li>
	</ul>
	<div class="release-outdated"><span>Mi-Fi Monitor 1.2.1</span><span class="right">01/12/2011</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>Fixed spelling error on settings page</li>
		<li><i class="fa fa-li fa-chevron-right"></i>Fixed bug where typing in the support mail form required tapping the very first line or the keyboard would not activate</li>
	</ul>
	<div class="release-outdated"><span>Mi-Fi Monitor 1.2</span><span class="right">01/04/2011</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>New: Live signal graph, just tap the little blue button on the main screen.</li>
	</ul>
	<div class="release-outdated"><span>Mi-Fi Monitor 1.1.1</span><span class="right">12/15/2010</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>Minor bugfixes</li>
	</ul>
	<div class="release-outdated"><span>Mi-Fi Monitor 1.1</span><span class="right">11/18/2010</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>Nicer layout</li>
	</ul>
	<div class="release-outdated"><span>Mi-Fi Monitor 1.0.9</span><span class="right">10/23/2010</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>Slower refresh time to give the Mi-Fi a rest</li>
	</ul>
	<div class="release-outdated"><span>Mi-Fi Monitor 1.0.8</span><span class="right">10/15/2010</span></div>
	<ul class="releasenotes fa-ul">
		<li><i class="fa fa-li fa-chevron-right"></i>First release on iOS App Store</li>
	</ul>
</div><!-- End Release -->





