{% include "header.html" %}
    <div class="row featurette">
        <div class="col-md-8 page-section">
            <a href="/about"><h3 class="featurette-heading"><i class="fa fa-users"></i> About Us</h3></a>
            
            <p>Infincia Software is owned and operated by native Ohioan Stephen Oliver.</p>
            <h3>Email options</h3>
            <dl class="dl-horizontal">
                <dt>Priority app support</dt>
                <dd>Customers who need help with one of the apps we've developed: we're more likely to see your message quickly and respond as soon as possible if you direct your message to <a href="mailto:support@infincia.com">support@infincia.com</a>.</dd>
                <dt>Consulting</dt>
                <dd>If you would like to discuss working with us on a project, please send us a message at <a href="mailto:consulting@infincia.com">consulting@infincia.com</a>. To schedule a phone or Skype conference, please remember to include full contact information and a few dates and times that would work for you.</dd>
                <dt>Other</dt>
                <dd>Journalists and all other inquiries, please use <a href="mailto:contact@infincia.com">contact@infincia.com</a>.</dd>
            </dl>
        
		</div>
        {% include "sidebar.html" %}
    </div>

{% include "footer.html" %}
