{% include "header.html" %}

    <div class="row featurette">
	<div class="col-lg-3 col-md-4 col-sm-4 app-preview page-section">
		<a href="/apps/mi-fi-monitor-ios"><h3>Mi-Fi Monitor <span class="text-muted">for iOS</span></h3></a>
		<div class="app-preview-screenshot mifimonitor">
			<a href="/apps/mi-fi-monitor-ios"><img alt="Mi-Fi Monitor for iOS preview" class="img-responsive" src="/assets/images/apps/mi-fi-monitor/sigbat.jpeg"/></a>
		</div>
		
		<div class="app-preview-text mifimonitor">
			<p><a href="/apps/mi-fi-monitor-ios">Mi-Fi Monitor for iOS</a> is an easy way to check battery life and signal level of a Novatel Mi-Fi, without getting it out of your bag or opening a web browser.</p>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-lg-offset-1 col-sm-4 app-preview page-section">
        <a href="/apps/codepoints"><h3>Codepoints <span class="text-muted">for OS X</span></h3></a>
		<div class="app-preview-screenshot  codepoints">
			<a href="/apps/codepoints"><img alt="Codepoints preview" class="img-responsive" src="/assets/images/apps/codepoints/smallpreview.jpeg"/></a>
		</div>
	
		<div class="app-preview-text  codepoints">
			<p><a href="/apps/codepoints">Codepoints for OS X</a> makes it easy to find and copy any assigned Unicode character into your clipboard.</p>
		</div>
	</div>
	
	
	<div class="col-lg-3 col-md-4 col-lg-offset-1 col-sm-4 app-preview page-section">
		<a href="/apps/mi-fi-monitor-mac"><h3>Mi-Fi Monitor <span class="text-muted">for OS X</span></h3></a>
		<div class="app-preview-screenshot  mifimonitor">
			<a href="/apps/mi-fi-monitor-mac"><img alt="Mi-Fi Monitor for OS X preview" class="img-responsive" src="/assets/images/apps/mi-fi-monitor/sig-graph.jpeg"/></a>
		</div>

		<div class="app-preview-text mifimonitor">
			<p><a href="/apps/mi-fi-monitor-mac">Mi-Fi Monitor for OS X</a> is a simple Menu Bar app that lets you see your Novatel Mi-Fi signal and battery levels at a glance.</p>
		</div>
	</div>
    </div>

{% include "footer.html" %}