        <div class="col-md-12 col-sm-12">
          <a href="/case-studies/hypegram"><h3 class="featurette-heading">Case study: Hypegram <span class="text-muted">for OS X</span></h3></a>
        </div>

        <div class="col-md-7">
            <p class="lead">Hypegram was the first native OS X client for the <a href="http://hypem.com/popular">Hype Machine</a> music streaming and discovery service.</p>
        </div>
        <div class="col-md-5">
          <a href="/case-studies/hypegram"><img style="padding-top:12px;" class="featurette-image img-responsive" src="/assets/images/casestudies/hypegram/hypegram-osx.png" alt="Hypegram for OS X"></a>
        </div>

      <hr class="featurette-divider">
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-7 col-sm-12 col-md-offset-5">
          <a href="/case-studies/slotsrace"><h3 class="featurette-heading">Case study: Slots Race <span class="text-muted">for iOS</span></h3></a>
        </div>

        <div class="col-md-5">
          <a href="/case-studies/slotsrace"><img style="padding-top:12px;" class="featurette-image img-responsive" src="/assets/images/casestudies/slotsrace/slotsrace-holiday.png" alt="Slots Race"></a>
        </div>
        <div class="col-md-7">
          
          <p class="lead">Slots Race is a realtime, global multi-player slot machine game for iOS. Players join a team in one of multiple themed races, and compete with both the opposing team and each other until each race ends.</p>
          <p></p>
        </div>



      <hr class="featurette-divider">
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-12 col-sm-12">
          <a href="/case-studies/codepoints"><h3 class="featurette-heading">Case study: Codepoints <span class="text-muted">for OS X</span></h3></a>
        </div>

        <div class="col-md-7 col-sm-6">
          
            <p class="lead">Codepoints is a Mac utility for quickly accessing any Unicode character from anywhere on the system, written to be keyboard friendly and easy to use.</p>
        </div>
        <div class="col-md-5 col-sm-6">
          <a href="/case-studies/codepoints"><img style="padding-top:12px;" class="featurette-image img-responsive" src="/assets/images/casestudies/codepoints/codepoints-stars.jpeg" alt="Codepoints"></a>
        </div>

      <hr class="featurette-divider">
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-8 col-sm-12 col-sm-offset-5 col-md-offset-4">
          <a href="/case-studies/mi-fi-monitor-osx"><h3 class="featurette-heading">Case study: Mi-Fi Monitor <span class="text-muted">for OS X</span></h3></a>
        </div>

        <div class="col-md-4 col-sm-5">
          <a href="/case-studies/mi-fi-monitor-osx"><img style="padding-top:12px;" class="featurette-image img-responsive" src="/assets/images/casestudies/mi-fi-monitor/mi-fi-monitor-mac.jpeg" alt="Mi-Fi Monitor OS X"></a>
        </div>
        <div class="col-md-8 col-sm-7">
          
          <p class="lead">Mi-Fi Monitor for OS X is an invaluable utility for owners of Novatel Mi-Fi Hotspot devices, built as a constantly available OS X menu bar application. It was covered by <a href="http://www.tuaw.com/2011/12/13/daily-mac-app-mi-fi-monitor/">The Unofficial Apple Weblog</a> at the time of release.</p>
        </div>


      <hr class="featurette-divider">
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-12 col-sm-12">
          <a href="/case-studies/mi-fi-monitor-ios"><h3 class="featurette-heading">Case study: Mi-Fi Monitor <span class="text-muted">for iOS</span></h3></a>
        </div>

        <div class="col-md-8 col-lg-9 col-sm-7">
          <p class="lead">Mi-Fi Monitor is an invaluable utility for owners of Novatel Mi-Fi Hotspot devices, developed in-house as our first commercial application.</p>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-5">
          <a href="/case-studies/mi-fi-monitor-ios"><img style="padding-top:12px;" class="featurette-image img-responsive" src="/assets/images/casestudies/mi-fi-monitor/mi-fi-monitor-ios-main.jpeg" alt="Mi-Fi Monitor iOS"></a>
        </div>


