{% include "header.html" %}
    <div class="row featurette">
        <div class="col-md-12 page-section" id="consulting">
            <a href="/consulting"><h3 class="featurette-heading"><i class="fa fa-check-square-o"></i>  Consulting</h3></a>
            <p>Infincia Software is a consulting firm located in central Ohio. We specialize in iPhone, iPad, and Mac development, working with clients every step of the way from the initial idea stage all the way through to publishing apps on the App Store, and maintaining them over time.</p>
            
            <p>We also provide maintenance services for existing apps that need anything from minor style changes to a complete overhaul. Whatever your app needs, we can help.</p>
            
            <p>A selection of the projects we have worked on are detailed below, some have been featured on <a href="http://lifehacker.com/5981974/hypegram-for-mac-brings-the-sites-great-music-to-your-desktop-in-a-simple-elegant-player">Lifehacker</a>, <a href="http://www.theverge.com/2012/12/10/3752366/hypegram-app-os-x-streaming-music-discovery">The Verge</a>, <a href="http://www.tuaw.com/2011/12/13/daily-mac-app-mi-fi-monitor/">The Unofficial Apple Weblog</a>, and various other high profile tech sites.</p>
            <br>
            <div id="buttons">
                <a href="/contact" class="btn btn-primary btn-custom btn-contact"><i class="fa fa-envelope"></i> Contact us</a>
            </div>
            <br>
            <br>
            <!-- <h3 style="margin-top: 20px;" class="featurette-heading">Our Team</h3>
            <h4>Stephen Oliver</h4>
            <p>Steve is our lead developer and project manager. He has 6 years of software engineering experience working on multiple platforms, including iOS, OS X, and Linux.</p> -->
		
        
			
        </div>
        
        {% include "case-studies.html" %}
        
    </div>
{% include "footer.html" %}
