{% include "header.html" %}
    <div class="row featurette">
        <div class="col-md-8 page-section" id="contact">
            <a href="/contact"><h3 class="featurette-heading"><i class="fa fa-envelope"></i> Contact Us</h3></a>

            <p>Customers who needs help with our software: we're more likely to see your message quickly and respond as soon as possible if you direct your message to <a href="mailto:support@infincia.com">support@infincia.com</a></p>
            <h4>Other options</h4>
            <dl class="dl-horizontal">
                <dt>Consulting</dt>
                <dd>If you would like to work with us on a project, please send us an email at <a href="mailto:consulting@infincia.com">consulting@infincia.com</a> or leave a voicemail at <b>614-636-2295</b>.</dd>
                
                <dd>To schedule a phone or Skype conference, please remember to include full contact information and a few dates and times that would work for you.</dd>
                <dt>All others</dt>
                <dd>Journalists and all other inquiries, please use <a href="mailto:contact@infincia.com">contact@infincia.com</a>.</dd>
            </dl>
        </div>
    
        {% include "sidebar.html" %}
    </div>
    
{% include "footer.html" %}
