<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="description" content="{{description}}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="ROBOTS" content="FOLLOW,INDEX">
	<meta name="keywords" content="{{keywords}}">
	<meta name="author" content="Infincia LLC">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
	<!--[if lt IE 9]>
		<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/infincia.min.css" rel="stylesheet" type="text/css">

	<!-- feeds -->
	<link rel="alternate" type="application/rss+xml" href="/blog/feed.rss" title="Blog feed RSS 2.0 format">
</head>
<body>

	<div id="wrap">
		
		<div class="container" id="infinciaheader">
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <a id="logo" href="/"><h1>Infincia Software</h1></a>
                </div>

        

                <div class="col-md-6 col-md-offset-2 col-sm-7 col-xs-12" id="topbar-container">
                    <ul id="linkbar">
                        <li class="{% if apps_selected %}active{% endif %} first"><a href="/apps">Apps</a></li>
                        <li class="{% if consulting_selected %}active{% endif %}"><a href="/consulting">Consulting</a></li>
                        <li class="{% if contact_selected %}active{% endif %}"><a href="/contact">Contact</a></li>
                        <li class="{% if blog_selected %}active{% endif %} last"><a href="/blog">Blog</a></li>                
                    </ul>
                </div>
           </div>
		</div>
		

    
    

        <div class="container" id="infinciacontainer">
	