{% include "header.html" %}
    <div class="row featurette">
    
    <div class="col-md-12 page-section">
        <a href="/kittens"><h3 class="featurette-heading"><i class="fa fa-paw"></i> Kittens</h3></a>
	    <p>Catcam has been disabled, the kittens are no longer confined to their old temporary play area and have been able to roam around freely indoors for a few weeks. They spend very little time in view of the camera now, and even when the old play area gate is put back in place they can just jump over it. So instead of the live camera, pictures I have taken and videos from multiple sources will be added to this page so the kittens can still be seen at any time.</p>
	</div>        

	<div class="col-md-12 page-section">
	    <h3 class="featurette-heading"><i class="fa fa-video-camera"></i> Videos</h3>
	    <p>There are about 3-4 hours (25GB) worth of raw HD videos of the kittens so far, most of it from after they were brought indoors. For the moment the only clips that have been posted online are on my personal <a href="https://www.youtube.com/channel/UCOghdRTGuCLsRJcTIdgRAog">Youtube channel</a>. You can subscribe to the entire channel or just the <a href="https://www.youtube.com/playlist?list=PLQ685uCssR1kqQ8rgD_NMEXOzUxib2eBJ">kittens</a> playlist if you like, or you can just look through them whenever you want to.</p>
	    <p>I will be adding more videos to Youtube, and embedding the list here, as I sort through the raw footage. There will likely be a LOT more videos in the future because the kittens are extremely active and do funny things frequently.</p>
        </div>

	<div class="col-md-12 page-section">
	    <h3 class="featurette-heading"><i class="fa fa-camera"></i> Pictures</h3>

	    <p>Pictures of the kitens are currently being added directly to an <a href="https://www.icloud.com/photostream/#A15oqs3q9Y4NB">iCloud Photo Stream</a>, and <a href="http://elpandobearrito.tumblr.com/">Tumblr</a>. They will probably be added directly to this page in the near future once I work out a good system for embedding them.</p>
        </div>
 
        <div class="col-md-12 page-section">
            <h3 class="featurette-heading">Identifying each kitten</h3>
            <p>This info is incomplete, some of the kittens have unique identifying marks but without actually holding the tigers it is hard to distinguish them</p>
            <table class="infincia-table" id="cam" border="0">
                <tr class="table-header">
                    <th class="first" style="text-align:left;">Name</th>
                    <th>Identifying</th>
                    <th>Sex</th>
                    <th class="last">Eyes</th>
                </tr>
		
                <tr>
                    <td><strong>Fozzie</strong></td>
                    <td class="value">Tan Tiger</td>
                    <td class="value">Male</td>
                    <td class="value">Green</td>
                </tr>
		
                <tr>
                    <td><strong>Nermal</strong></td>
                    <td class="value">Solid Grey</td>
                    <td class="value">Male</td>
                    <td class="value">Blue-Green</td>
                </tr>
                
                <tr>
                    <td><strong>Socks</strong></td>
                    <td class="value">Big eyes, non-white chest fur</td>
                    <td class="value">Female</td>
                    <td class="value">Green</td>
                </tr>
                
                <tr>
                    <td><strong>Paws</strong></td>
                    <td class="value">White back toes, dark contrasted stripes</td>
                    <td class="value">Female</td>
                    <td class="value">Green</td>
                </tr>
                
                <tr>
                    <td><strong>Tails</strong></td>
                    <td class="value">Dark black fur, light pale stripes</td>
                    <td class="value">Male</td>
                    <td class="value">Green</td>
                </tr>
                
                <tr>
                    <td><strong>Wild Kitty</strong></td>
                    <td class="value">Small eyes, dark contrasted stripes</td>
                    <td class="value">Female</td>
                    <td class="value">Hazel</td>
                </tr>
            </table>
            
        </div>        
    
        <div id="kitten-info" class="col-md-12 list-section page-section ">
                <h3 class="featurette-heading">More Info</h3>
                <div class="list-item"><h4>Who are these kittens?</h4>
                    <p>A wild cat in the area chose to have her kittens here outside my house.</p>
                    <p>The kittens are being brought indoors and socialized around people in order to keep them from becoming wild cats like their mother, and so they can have better lives than they would if they remained outdoors.</p>
                </div>
                <div class="list-item"><h4>When were they born?</h4>
                    <p>They were born May 30th or 31st, 2013.</p>
                </div>
                <div class="list-item"><h4>Are the kittens or their mother being fed?</h4>
                    <p>The mother and the kittens are all being fed dry food and provided with clean water.</p>
                </div>
                <div class="list-item"><h4>Are the kittens going to have homes?</h4>
                    <p>Three kittens will stay here (see chart above: Fozzie, Nermal and tiger #3), the others will be going to new homes when they're ready.</p>
                </div>
        </div>
        <div id="kitten-blog" class="col-md-12 list-section page-section ">
                <h3 class="featurette-heading">Kitten Blog</h3>

                <div class="list-item"><h4>September 13th, 2013</h4>
                    <p>The live cat cam video stream has been turned off since they are never on camera anymore, they roam the house and sleep all over the place whenever they want. They can't be confined to their old play area anymore even when the barrier is put up, they just jump over it.</p>
		    <p>The tan kitten has been named Fozzie, the grey kitten has been named Nermal (from Garfield), and the others don't have names at the moment aside from the identifying names I have for them (black kitty, sock kitty, wild kitty etc).</p>
		    <p>With the live camera turned off I'll start filling this page with all the pictures and videos I have so far that were never posted anywhere, aside from a select few that made their way to Youtube.</p>
                </div>
                <div class="list-item"><h4>August 3rd, 2013</h4>
                    <p>Tan kitty and some co-conspirators figured out how to get up on the cabinet visible in the upper right corner of the video, which made it easy for them to walk right across to the kitchen counter. It won't be long before they can all just jump over the barriers keeping them in their current area, which means they may not be in front of the camera much longer.</p>
                </div>
                <div class="list-item"><h4>August 1st, 2013</h4>
                    <p>Every kitten is tame now, the last 2 to be brought inside are still a little suspicious of people but none of them hiss, bite, growl or act aggressively anymore for any reason.</p>
                    <p>The grey kitten, which is very close to being named 'grey kitty' by default, is the lap cat now. Grey kitty walks around purring when people are around, and immediately purrs when picked up and held.</p>
                    <p>They have all discovered climbing things, and have figured out how to climb up on the wooden ledge under the windows so they can look out in the yard and driveway. The windows are never opened so they're safe sitting up there.</p>
                </div>
                <div class="list-item"><h4>July 20th, 2013</h4>
                    <p>All 6 kittens are in the big play area now, which has increased the crazy level by 1,000%. The 2 new ones started playing and running around almost immediately.</p>
                    <p>The original 4 are well adjusted to being around people now, the solid grey kitten is still a little suspicious but doesn't hiss or run away anymore, and the other 3 are climbing on people and falling asleep in laps, they already love being petted.</p>
                </div>
                <div class="list-item"><h4>July 16th, 2013</h4>
                    <p>The 4 kittens that are indoors already have been moved from their small temporary cage to their new big area. They have lots of space to play and run as fast as they can chasing each other, toys to play with, boxes to climb around on, and lots of exploring to do.</p>
                    <p>They should be visible on the camera most of the time now, there are some blind spots but when they are playing they play out in the middle where you can see them.</p>
                </div>
                <div class="list-item"><h4>July 14th, 2013</h4>
                    <p>A fourth kitten, the solid grey with blue eyes, has been brought inside today. It was not happy about it at all, but it should adjust over the next few days just like the others.</p>
                    <p>The first two kittens are both completely adjusted, playing and eating on their own. The tiger wants to be petted and played with all the time, and comes to people without hesitation.</p>
                    
                </div>
                <div class="list-item"><h4>July 13th, 2013</h4>
                    <p>A third kitten was brought inside today and put with the other two from yesterday. The new arrival is quite angry but will quickly forget and adjust to being inside.</p>
                    <p>The two that came inside yesterday haven't hissed at all today, they have adjusted quite well already. They're playing, eating food, and one is licking my finger.</p>
                </div>
                <div class="list-item"><h4>July 12th, 2013</h4>
                    <p>Two kittens were brought inside today. It's a challenge finding chances while their mom is gone, catching them before they can find a hiding spot in a bush without being bitten by their little baby teeth, getting them into a safe box and bringing them inside. Four remain outside, but not for long.</p>
                    <p>They will be kept in a small area where they will probably huddle together for a few days until they adjust to being inside, but they're able to eat even solid food now so they should do just fine.</p>
                </div>
                <div class="list-item"><h4>July 11th, 2013</h4>
                    <p>The tan kitten figured out how to climb over the fence this morning, then frantically tried to get back inside the fenced area with the rest of the kittens, the food and of course, mom. After about 5 minutes, the kitten climbed right back up the fence and back inside.</p>
                </div>
                 <div class="list-item"><h4>July 9th, 2013</h4>
                    <p>Three kittens escaped their fenced in area today with encouragement from their mom, video shows her hopping up on top of the front porch barrier, then turning around and encouraging the kittens to climb up and escape. Only 3 tried to climb out, but because the barrier had small spaces a kitten could fit through, all 3 who tried got away for a while.</p>
                    <p>The 3 who escaped followed their mom down the front steps into the driveway, where she then put them aside under some bushes to sleep while she sat under a vehicle 5 feet away. She gave away their location by sitting there, and once I realized they were gone I was able to find them in just a few minutes.</p>
                    <p>All 3 escapees were brought back to their fenced in area and the spaces they escaped through were completely blocked. Large sheets of smooth plastic prevent them from being able to climb up on the porch again.</p>
                </div>
                <div class="list-item"><h4>July 3rd, 2013</h4>
                    <p>The kittens new area has been fenced in, which you can see on the right side of the live stream. Chicken wire fencing goes around 2 sides, and the 3rd side is the raised front porch, which has been blocked with various large objects to keep them from climbing up there and getting out.</p>
                    <p>The kittens should remain in this area until they are brought inside. It's safe, mostly dry and they can run and play without getting hurt in the driveway or street.</p>
                </div>
                <div class="list-item"><h4>July 1st, 2013</h4>
                    <p>Their Mom moved them yet again, but this time I watched her do it so I know where they went, 10 feet down the side of the house under another bush. It's a perfect place to fence them in and keep track of them so they can't be moved again until they're ready to come inside.</p>
                    <p>It's also suitable for a camera so that has been moved now too, it's pointing down at their play area. They won't be visible all the time but when they come out to eat they usually stay out for a while.</p>
                </div> 
                <div class="list-item"><h4>June 24th, 2013</h4>
                    <p>The kittens mom moved them again to the front side of the house, under a large tree and a lot of bushes, it's dry and safe but too close to the driveway, they'll have to be moved somewhere else when they start walking around.</p>
                </div> 
                <div class="list-item"><h4>June 22nd, 2013</h4>
                    <p>The kittens were moved by their mother today, out of the window well and over to a bush against the house. Not as protected from rain and animals but accessible so we can get to them. As they are no longer in a place suitable for a camera, it has been turned off for now. When they end up somewhere more permanent the camera can probably be turned back on.</p>
                </div> 
                <div class="list-item"><h4>June 19th, 2013</h4>
                    <p>All the kittens have their eyes open today, and have kept them open. They are looking around and looking at me when I go see them through the window.</p>
                </div> 
                <div class="list-item"><h4>May 31st, 2013</h4>
                    <p>A mother cat and 6 obviously newborn kittens were found living in a window well here, on a soft and dry pile of leaves. I didn't want to disturb them very much so I installed a video camera to keep track of them.</p>
                </div>    
        </div>
    
    
    </div>

{% include "footer.html" %}