<p>Codepoints makes it easy to find and copy any assigned Unicode character, like Emoji characters, special symbols, arrows and shapes into your clipboard with minimal hassle.</p> 

<ul class="app-description fa-ul">
	<li><i class="fa fa-li fa-chevron-right"></i>Search 29,215 records by code point or description</li>
	<li><i class="fa fa-li fa-chevron-right"></i>Emoji support with colored glyphs</li>
	<li><i class="fa fa-li fa-chevron-right"></i>Unicode 8 support</li>
	<li><i class="fa fa-li fa-chevron-right"></i>Preview automatically rendered with best available font</li>
	<li><i class="fa fa-li fa-chevron-right"></i>Manual override provided for 3rd party fonts</li>
	<li><i class="fa fa-li fa-chevron-right"></i>Keyboard friendly design</li>
	<li><i class="fa fa-li fa-chevron-right"></i>Search narrows with each new term</li>
</ul>

<p>Developers can also use Codepoints to copy invisible or control characters into the clipboard, like null, carriage return, escape, backspace, bell and so on.</p>