<div class="col-md-6 col-sm-6 page-section list-section faq-section">

	<h3 class="list-header"><i class="fa fa-fw fa-question-circle"></i>FAQ</h3>

	<div class="list-item"><h4>How do I use Codepoints?</h4>

	<p>Codepoints is designed to stay out of your way until you need it, and be available instantly without forcing you to click through multiple windows or popups to get what you want. </p>

	<p>There are only 2 steps to use Codepoints: </p>
    <ol>
	<li><strong>Activate the app</strong></li>
    <ul class="list-unstyled">
	<li>Click the dock or menu bar icon, or configure a keyboard shortcut</li>
    </ul>
	<li><strong>Start typing!</strong></li>
    </ol>
	<p>If you know exactly what you want, just start typing to search for it! </p>

	<p>Alternatively you can scroll the list to look around using your mouse or keyboard up/down keys. </p>

	<p>To copy a character to your clipboard, just double click or select it and hit enter.</p>
	
	</div>


	<div class="list-item"><h4>Can I use Codepoints entirely from the keyboard?</h4>
	
	<p>With the exception of font selection and setting a new hotkey, yes.</p>
	<p>Once you set a global hotkey, you can activate Codepoints from anywhere on your computer. When Codepoints pops up, you can start typing to search immediately.  Use the up/down keys to select a row, then hit enter and that character will copy into the clipboard and return you to your previous applicaiton. No mouse work needed.</p>
	</div>
	<div class="list-item"><h4>Why don't some characters show a preview?</h4>
	
	<p>Codepoints can display previews for most Unicode codepoints in the database, however Mac OS X does not have fonts to render all of them. Make sure to leave the font setting on automatic to display as many previews as possible on your system.</p>
	<p>If you want to know why a specific character was not rendered, mouse over the character area of a row and a tooltip will popup with a reason.</p>
	<p>If you happen to have a full Unicode font installed on your system, for instance as part of a graphic design program, Codepoints should automatically use it to render characters that aren't found in stock Mac OS X fonts, however you can also set Codepoints to use a specific font exclusively when rendering previews.</p>
	<p>If you have no other choice, <a href="http://unifoundry.com/unifont.html">GNU Unifont</a> is an option, though it is not a high resolution font. At the current time Unifont has glyph coverage for Unicode 5.1, while Codepoints ships with the Unicode 6.1 database with many more codepoints. The installable TrueType version of Unifont caused some issues during testing with Codepoints (inaccurate characters being rendered) so keep that in mind if you decide to use it.</p>
	</div>
	
	<div class="list-item"><h4>I copied a character but it shows up as a black box or not at all when I paste it somewhere, why?</h4>
	
	<p>If you can see a preview of a specific character in Codepoints, it should show up elsewhere on your Mac (and on most other Macs as well). However, if you paste a character into a website form or use it in a document, the people who see that document or website may not have the same fonts installed on their computer that you do, so special characters may be rendered as a black box or a "fallback" character that may not be accurate.</p>
	<p>If you absolutely <em>need</em> to display a specific character in a document or website but can't simply paste in the character, you will need to use an <strong>image</strong> of the character instead of a Unicode text version. Support for exporting glyph/character images like this will come to Codepoints in a future update.</p>
	</div>

</div>