{% include "header.html" %}
    <div class="row featurette">
        <div class="col-md-6 col-sm-6 mac_screenshot">
			<img alt="Codepoints for OS X screenshot" class="img-responsive" src="/assets/images/apps/codepoints/codepoints.jpeg" alt="Codepoints for OS X screenshot" />
        </div>
		<div class="col-md-6 col-sm-6 page-section">
            <a href="/apps/codepoints"><h2>Codepoints <span class="text-muted">for OS X</span></h2></a>
			
			{% include "apps/codepoints/description.html" %}
			
			<div id="requirements">
				<p><strong>Requirements:</strong> OS X 10.10+<p>
				<br>
				<a href="http://itunes.apple.com/app/codepoints/id499161264?mt=12" id="mac_app_store_icon"><img id="mac_app_store_icon" src="/assets/images/icons/mac_store.png" alt="App Store button"/></a>
			</div>
		</div>

	        



        

        <div class="col-md-12 col-sm-12 page-section"> </div>

		<div class="col-md-12 col-sm-12 page-section">
			<h3><i class="fa fa-fw fa-camera-retro"></i>Screenshots</h3>
		</div>

		<div class="col-md-6 mac_screenshot">
			<img class="img-responsive" src="/assets/images/apps/codepoints/screen2.jpeg" alt="Codepoints screenshot" />
		</div>
		<div class="col-md-6 mac_screenshot">
			<img class="img-responsive" src="/assets/images/apps/codepoints/screen3.jpeg" alt="Codepoints screenshot" />
		</div>

<div class="col-md-12 col-sm-12 page-section">
	
</div>

{% include "apps/codepoints/faq.html" %}

{% include "apps/codepoints/releasenotes.html" %}

</div>


{% include "footer.html" %}