<div class="col-md-6 col-sm-6 page-section">
	
	<h3><i class="fa fa-fw fa-indent"></i>Release notes</h3>
  
	<div class="release-current"><span>Codepoints 1.0.6</span><span class="right">11/23/2015</span></div>
	<ul class="releasenotes fa-ul">
        <li><i class="fa fa-li fa-chevron-right"></i>Add support for Yosemite dark mode</li>
        <li><i class="fa fa-li fa-chevron-right"></i>Update to Unicode 8.0 database (NOTE: not all new Emojis in Unicode 8.0 have matching font glyphs available!)</li>
	</ul>
    
	<div class="release-outdated"><span>Codepoints 1.0.5</span><span class="right">7/17/2014</span></div>
	<ul class="releasenotes fa-ul">
        <li><i class="fa fa-li fa-chevron-right"></i>Update to Unicode 7.0 database</li>
        <li><i class="fa fa-li fa-chevron-right"></i>Fix bug that caused Codepoints to stay on screen when clicking other menu bar items</li>
        <li><i class="fa fa-li fa-chevron-right"></i>Fix bug that could potentially cause a crash while searching in rare cases</li>
        <li><i class="fa fa-li fa-chevron-right"></i>Significantly reduce memory usage</li>
        <li><i class="fa fa-li fa-chevron-right"></i>Internal restructuring and 3rd party library updates</li>
	</ul>
	
	<div class="release-outdated"><span>Codepoints 1.0.4</span><span class="right">8/1/2012</span></div>
	<ul class="releasenotes fa-ul">
        <li><i class="fa fa-li fa-chevron-right"></i>Retina icon</li>

        <li><i class="fa fa-li fa-chevron-right"></i>Fix bug where rows would become transparent causing problems with scrolling. May have occurred on Lion but Mountain Lion made the problem more frequent</li>

	</ul>
	
	<div class="release-outdated"><span>Codepoints 1.0.3</span><span class="right">5/7/2012</span></div>
	<ul class="releasenotes fa-ul">
        <li><i class="fa fa-li fa-chevron-right"></i>Add option to disable clearing behavior when dropdown opens, so that users can quickly go back and copy multiple related symbols without typing search terms again</li>

	</ul>
	
	<div class="release-outdated"><span>Codepoints 1.0.2</span><span class="right">2/3/2012</span></div>
	<ul class="releasenotes fa-ul">
        <li><i class="fa fa-li fa-chevron-right"></i>Fix issue with misbehaving 3rd party fonts</li>
        <li><i class="fa fa-li fa-chevron-right"></i>Fix issue where Codepoints would appear empty at launch</li>
	</ul>
	
	<div class="release-outdated"><span>Codepoints 1.0.1</span><span class="right">2/2/2012</span></div>
	<ul class="releasenotes fa-ul">
        <li><i class="fa fa-li fa-chevron-right"></i>Update Unicode data to version 6.1</li>
	</ul>

	<div class="release-outdated"><span>Codepoints 1.0</span><span class="right">2/2/2012</span></div>
	<ul class="releasenotes fa-ul">
        <li><i class="fa fa-li fa-chevron-right"></i>Initial release on Mac App Store</li>
	</ul>

</div><!-- End Release -->





