{% include "admin/header.html" %}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", (event) => {
        Infincia.initRegister();
    });
</script>

<div class="mdl-grid register-panel">

    <div class="mdl-cell--12-col">

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input"
                   name="name"
                   id="nameField">
            <label class="mdl-textfield__label"
                   for="nameField">Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input"
                   name="email"
                   id="emailField">
            <label class="mdl-textfield__label"
                   for="emailField">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input"
                   type="password"
                   name="password"
                   id="passwordField">
            <label class="mdl-textfield__label"
                   for="passwordField">Password</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input"
                   type="password"
                   name="registrationKey"
                   id="registrationKeyField">
            <label class="mdl-textfield__label"
                   for="registrationKeyField">Registration key</label>
        </div>
        <button type="button"
                id="register-user-button"
                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                name="register">Register
        </button>

    </div>
</div>
{% include "admin/footer.html" %}